@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --theme-color-1: #bbf17d;
  --theme-color-2: #EFEEEA;
  --theme-color-3: #273F4F;
  /* --light-text: #777777; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, system-ui, sans-serif;
  font-size: 1.4rem;
  color: #000000;
  background-color: #fff;
  margin: 0;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

/* table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 0.5em;
} */


body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background-color: var(--theme-color-2);
  color: var(--theme-color-3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80%;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  text-align: center;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--theme-color-3);
}

.scoreboard {
  width: 100%;
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.player {
  padding: 6px;
}

.score {
  font-size: 4.6rem;
}

.round {
  font-size: 4rem;
  color: rgb(247, 133, 133);
  margin: 0 320px;
}

.board {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 2rem auto;
  gap: 6px;
  padding: 6px;
  background-color: #696969;
}

.cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-1);
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  user-select: none;
}

.cell:hover {
  background-color: #f7af97;
}

.message {
  height: 80px;
  width: 80%;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: rgb(238, 146, 146);
  /* border: 1px solid #000; */
}

button#restart-btn {
  padding: 0.6rem 1.6rem;
  border: none;
  background-color: var(--theme-color-3);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  width: 20%;
}

button#restart-btn:hover {
  background-color: #1d2e3a;
}
